# Ignore node_modules directory
node_modules/

# Ignore logs and runtime files
npm-debug.log
yarn-error.log

# Ignore environment-specific files (example: .env)
.env

# Ignore built or compiled files
/build/
/dist/
*.log
*.tmp
*.pid

# Ignore local development files and configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore macOS system files
.DS_Store
